body {
  background-color: rgb(217, 219, 251);
  width: 100%;
}
h1 {
  color: rgb(1, 35, 205);
}
h2 {
  color: rgb(1, 19, 88);
}
div {
  background-color: rgb(147, 210, 233);
  text-align: center;
}
img {
  width: 100px;
  height: auto;
}
span {
  background-color: rgb(244, 112, 239);
}
.div-background-1 {
  background-color: rgb(147, 210, 233);
}
.centered-list {
  text-align: center;
}
ol {
  list-style-position: inside;
  text-align: center;
}
